<div class="flex justify-content-center align-items-center">
  <form [formGroup]="criteriaForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">
    <div formArrayName="criteria">
      <div *ngFor="let criterion  of criteria.controls; let i = index" formGroupName="{{i}}"
           class="flex flex-column mb-2">
        <p class="mb-5">Criterion {{i + 1}}</p>
        <div class="flex flex-row gap-2">
          <span class="p-float-label">
            <input type="text" [formControlName]="'name'" id="criterion-{{i}}-name" pInputText/>
            <label htmlFor="criterion-{{i}}-name">Name</label>
          </span>
          <span class="p-float-label">
            <p-dropdown [options]="typeOptions"
                        [formControlName]="'type'"
                        optionValue="value"
                        optionLabel="name"
                        inputId="float-label"
                        placeholder="Type">
          </p-dropdown>
            <label htmlFor="criterion-{{i}}-type">Type</label>
          </span>
          <span class="p-float-label">
            <p-inputNumber [formControlName]="'weight'"
                           class="p-inputnumber"
                           styleClass="wid50"
                           mode="decimal"
                           showButtons="true"
                           step=0.1
                           min="0"
                           max="1"
                           minFractionDigits="1"
                           allowEmpty="true"
                           id="criterion-{{i}}-weight"/>
            <label htmlFor="criterion-{{i}}-weight">Weight</label>
          </span>
          <span class="p-float-label">
            <p-dropdown [options]="preferenceFunctionOptions"
                        [formControlName]="'preferenceFunction'"
                        (onChange)="addParameterValue($event,i)"
                        styleClass="w-11rem"
                        optionValue="value"
                        optionLabel="name"
                        inputId="float-label"
                        placeholder="Preference function">
          </p-dropdown>
            <label htmlFor="criterion-{{i}}-preference-function">Preference function</label>
          </span>
          <span *ngIf="criterion['controls']['threshold1']" class="p-float-label">
            <p-inputNumber [formControlName]="'threshold1'"
                           mode="decimal"
                           showButtons="true"
                           step=0.1
                           minFractionDigits="1"
                           allowEmpty="true"
                           id="criterion-{{i}}-threshold1"/>
            <label htmlFor="criterion-{{i}}-threshold1">{{threshold1}}</label>
          </span>
          <span *ngIf="criterion['controls']['threshold2']" class="p-float-label">
            <p-inputNumber [formControlName]="'threshold2'"
                           mode="decimal"
                           showButtons="true"
                           step=0.1
                           minFractionDigits="1"
                           allowEmpty="true"
                           id="criterion-{{i}}-threshold2"/>
            <label htmlFor="criterion-{{i}}-threshold2">{{threshold2}}</label>
          </span>
          <p-button (onClick)="removeCriterion(i)"
                    [disabled]="criteria.controls.length <= 2"
                    icon="pi pi-minus" styleClass="p-button-primary p-button-outlined">
          </p-button>
        </div>
      </div>
    </div>
    <div class="flex flex-column gap-2">
      <p-button type="button" icon="pi pi-plus" label="Add Criterion" styleClass="p-button-sm p-button-outlined"
                (onClick)="addCriterion()"></p-button>
      <p-button type="submit" icon="pi pi-check" label="Confirm" [disabled]="!criteriaForm.valid"></p-button>
    </div>

  </form>
</div>
<p-toast></p-toast>
